.profile
{
    width: 30%;
    position: relative;
    background-color: tomato;
}
.p-img
{
    width: 100%;
    position: absolute;
    top: 10px;
  left: 20px;
  background-color: teal;

}
img
{
    width: 100%;
}
.test
{
    width: 100%;
    height: 90%;
    border: 5px solid red; 
    background-color: gray;
}